<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.mybatis.mapper.EmployeeMapper">
    <!--
        namespace:命名空间(对应的mapper接口)
        id：唯一标识 （对应的接口方法）
        resultType:返回值类型
    -->
    <!--原生代写法-->
    <select id="selectOne" resultType="employee">
        select * from tbl_employee where id = #{id};
    </select>

    <!--接口式编程：面向接口的sql，接口的实现，[databaseId="mysql"]使用mysql配置信息链接mysql数据库-->
    <select id="getById" resultType="Employee" databaseId="mysql">
        select * from tbl_employee where id = #{id};
    </select>

    <!--[databaseId="oracle"]使用oracle配置信息链接oracle数据库-->
    <select id="getById" resultType="Employee" databaseId="oracle">
        select * from tbl_employee where id = #{id};
    </select>
</mapper>